<div class="brand-container" id="vinculacion">
    <div class="row">
        <div class="col-12">
            <div class="hero process-hero">
                <div>
                    <h1 class="font-brand">Talento & gestión</h1>
                    <div class="map-container">
                        <jhi-map-luker [activeElement] = "3"></jhi-map-luker>
                    </div>
                </div>
                <div class="buttons-top">
                    <a class="btn btn-brand brand-secondary filled">
                        <span class="font-weight-bold">Vinculación</span>
                        <span class="btn-badge"><img src="/content/icons/shakehand.svg" alt=""></span>
                    </a>
                    <a class="btn btn-brand brand-secondary filled">
                        <span class="font-weight-bold">Integración</span>
                        <span class="btn-badge"><img src="/content/icons/group-meet.svg" alt=""></span>
                    </a>
                    <div class="title-process">
                        <h2 class="font-brand">Vinculación</h2>
                        <h2 class="font-brand">E Integración</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row no-gutters process-bottom">
        <div class="col-lg-5"></div>
        <div class="col-lg-7">
            <div class="text-process">
                <div>
                    Garantizamos que la organización cuente con el <span class="font-weight-bold">Talento</span>
                    requerido para el momento <span class="font-weight-bold">actual y futuro</span> y que su <span
                        class="font-weight-bold">proceso de INTEGRACIÓN</span> a la organización potencialice su
                    productividad y retención.
                </div>
            </div>
            <div class="buttons-bottom">
                <div>
                    <h3>Conoce</h3>
                    <h3>Más</h3>
                </div>
                <a class="btn btn-brand brand-secondary" (click)="open(modalTools)">
                    <span class="font-weight-bold">Caja de herramientas</span>
                    <span class="btn-badge"><img src="/content/icons/tool.svg" alt="" class="icon secondary"></span>
                </a>
                <a class="btn btn-brand brand-secondary">
                    <span class="font-weight-bold">Definiciones</span>
                    <span class="btn-badge"><img src="/content/icons/group-cycle.svg" alt=""></span>
                </a>
            </div>
        </div>
    </div>
</div>

<ng-template #modalTools let-c="close">
    <div class="modal-header">
        <div class="header-top">
            <img src="/content/images/close.png" alt="Cerrar" (click)="c('Cross click')">
        </div>
        <div class="header-logo">
            <div class="header-line"></div>
            <img src="/content/logo.svg" class="logo" alt="logo">
            <div class="header-line"></div>
        </div>
    </div>
    <div class="modal-body">
        <h1>Caja de herramientas</h1>
        <div class="toolbox-content">
            <div class="toolbox-column">
                <h2>Formatos<br />para descargar</h2>
                <a *ngFor = "let item of modalElements.first"  href="{{item.url}}" class="btn-modal">{{item.title}}</a>
            </div>

            <div class="toolbox-column">
                <h2>Formatos<br />para descargar</h2>
                <a *ngFor = "let item of modalElements.second"  href="{{item.url}}" class="btn-modal">{{item.title}}</a>
            </div>
        </div>

        <div class="toolbox-footer">
            <h2 class="font-brand">Vinculación e integración</h2>
            <div><img src="/content/icons/tool.svg" alt="" class="icon secondary"></div>
        </div>
    </div>
</ng-template>

