<div class="lk-wrapper">
    <div class="row">
        <div class="col-12">
            <div class="hero vinc-hero">
                <div>
                    <h1 class="font-brand">Talento & gestión</h1>
                    <div class="map-container">
                        <jhi-map-luker></jhi-map-luker>
                    </div>
                </div>
                <div class="button-wrapper">
                    <a class="btn btn-brand brand-secondary filled">
                        <span class="font-weight-bold">Vinculación</span>
                        <span class="btn-badge"><img src="/content/icons/shakehand.svg" alt=""></span>
                    </a>
                    <a class="btn btn-brand brand-secondary filled">
                        <span class="font-weight-bold">Integración</span>
                        <span class="btn-badge"><img src="/content/icons/group-meet.svg" alt=""></span>
                    </a>
                    <div class="title-process">
                        <h2 class="font-brand">Vinculación</h2>
                        <h2 class="font-brand">E Integración</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row no-gutters vinc-bottom">
        <div class="col-lg-5"></div>
        <div class="col-lg-7">
            <div class="text-process">
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et reprehenderit hic tenetur suscipit
                    aliquam ullam temporibus nulla id, eligendi atque corrupti ipsam quos. Dolores sequi natus
                    aspernatur fugit molestiae sint!
                </p>
            </div>
        </div>
    </div>
</div>