/* ==========================================================================
Main page styles
========================================================================== */

@import "src/main/webapp/content/scss/custom-functions";
@import "src/main/webapp/content/scss/custom-variables";

:host {
  // Cambia color de fondo del: card y jh-card, contenedores de la plataforma.
  background: #808080;
}

.hero.home-hero {
  background-image: url("/content/images/home/home-hero.jpg");
  justify-content: center;
  height: 90vh;
  @include desktop {
    height: 60vh;
  }

  div:first-child {
    position: relative;
    height: fit-content;
    height: -moz-fit-content;
    margin: 0.625rem 0 0 5%;
    h1 {
      color: #fff;
      text-transform: uppercase;
      text-shadow: 6px 5px 9px rgba(10, 10, 10, 0.77);
      font-size: 3.2rem;
      font-weight: 900;
    }
    button {
      @include tablet {
        position: absolute;
        right: 15%;
      }
    }
  }

  .map-container {
    height: 50%;
    margin-top: 0.625rem;
    margin-right: 0.625rem;
    @include tablet {
      height: 70%;
    }
    @include desktop {
      height: 95%;
    }
  }
}

.home-bottom {
  flex-grow: 1;
  max-height: 300px;

  .bottom-panel {
    background-image: url("/content/images/home/home-bottom.jpg");
    background-size: cover;
    background-position: right;
    height: 100%;
    div {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      width: 75%;
      h2 {
        //Title
        color: #fff;
        text-transform: uppercase;
        text-shadow: 6px 5px 9px rgba(10, 10, 10, 0.77);
        font-weight: 900;
        margin-top: 0.625rem;
        text-align: center;
        margin-bottom: 1.875rem;
        span {
          font-weight: 400;
          letter-spacing: -1px;
        }
      }
      div {
        //Buttons wrapper
        position: relative;
        width: fit-content;
        width: 270px;
        .btn-brand {
          margin-bottom: 1.875rem;
          width: 100%;
        }
      }
    }
  }
  .bottom-info {
    height: 100%;
    border-left: 4px solid #fff;
  }
}
