<div class="brand-container">
    <div class="row">
        <div class="col-12">
            <div class="hero home-hero">
                <div>
                    <h1 class="font-brand">Talento & gestión</h1>
                    <button class="btn btn-brand">Iniciar <span class="font-weight-bold">sesión</span></button>
                </div>
                <div class="map-container">
                    <jhi-map-luker></jhi-map-luker>
                </div>
            </div>
        </div>
    </div>
    <div class="row home-bottom no-gutters">
        <div class="col-md-8">
            <div class="bottom-panel">
                <div>
                    <h2 class="font-brand"><span>Conoce</span> nuestros roles</h2>
                    <div>
                        <a class="btn btn-brand"><span class="font-weight-bold">Talento</span> como aliado
                            estratégico <span class="btn-badge"><img src="/content/icons/group-idea.svg"
                                    alt="" class="icon primary"></span></a>
                        <a class="btn btn-brand"><span class="font-weight-bold">Líder</span> desarrollador de su
                            gente <span class="btn-badge"><img src="/content/icons/group-flag.svg" alt="" class="icon primary"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bottom-info">
                <ngb-carousel [showNavigationIndicators]="false" class="fit-carousel">
                    <ng-template ngbSlide>
                        <img src="/content/images/home/home-info.jpg" alt="Random first slide">
                    </ng-template>
                    <ng-template ngbSlide>
                        <img src="/content/images/home/home-bottom.jpg" alt="Random second slide">
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </div>
</div>