<div class="home gutter">
    <div class="row">
        <div class="col-12">
            <div class="hero home-hero">
                <div>
                    <h1 class="font-brand">Talento & gestión</h1>
                    <button class="btn btn-brand">Iniciar <span class="font-weight-bold">sesión</span></button>
                </div>
                <div class="map-container">
                    <object id="dynamic-map-svg" type="image/svg+xml" data="content/images/mapa.svg" height="100%"
                        width="100%">
                        Your browser does not support SVG
                    </object>
                </div>
            </div>
        </div>
    </div>
    <div class="row home-bottom">
        <div class="col-md-10 col-lg-8">
            <div class="bottom-panel">
                <button class="btn btn-brand">Iniciar <span class="font-weight-bold">sesión</span></button>
                <button class="btn btn-brand">Iniciar <span class="font-weight-bold">sesión</span></button>
            </div>
        </div>
        <div class="col-md-2 col-lg-4 info">
            <div class="bottom-info"></div>
        </div>
    </div>
</div>