<div class="brand-container" id="definiciones">
    <div class="row">
        <div class="col-12">
            <div class="hero definicion-hero">
                <div>
                    <div class="btn btn-brand brand-secondary">
                        <span class="font-weight-bold font-brand">Definiciones</span>
                        <span class="btn-badge"><img src="/content/icons/group-cycle.svg" alt=""
                                class="icon secondary"></span>
                    </div>
                    <h1 class="font-brand">Compromiso y reconocimiento</h1>
                </div>
            </div>
        </div>
    </div>
</div>